{% load staticfiles %}
<html>
<head>
  <title>Mentor Me</title>
  <link rel="stylesheet" href="{% static './static/css/index.css' %}">
</head>
<body>
    <div class="bgimg-error">
        <div class="topleft">
          <p>Mentor Me</p>
        </div>
        <div class="middle">
          <h1>Error 404</h1>
          <hr>
          <p>Page not Found</p>
        </div>
        <div class="bottomleft">
          <p>Mentor: an experienced and trusted adviser.</p>
        </div>
      </div>
</body>
</html>
