{% load staticfiles%}
<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Theory by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	</head>
	<body class="subpage">
    <script>
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'Messenger'));
    </script>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{% url 'become_mentor' %}" class="logo">Become Mentor</a>
					<nav id="nav">
						<a href="{% url 'index' %}">Home</a>
                        <a href="{% url 'find_mentor' %}">Find Mentor</a>
                        <a href="{% url 'become_mentor' %}">Become Mentor</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Mentor - Application</h2>
						<p>Kindly take time to fill in the form. We hope to link you with the best mentee. We are building each other up and lets make our world a global village.</p>
					</header>
		  <div class="container">
          <form>
            <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="first">First Name</label>
                      <input type="text" class="form-control" placeholder="firstname" id="first">
                    </div>
                  </div>
              <!--  col-md-6   -->

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="last">Last Name</label>
                      <input type="text" class="form-control" placeholder="lastname" id="last">
                    </div>
                  </div>
              <!--  col-md-6   -->
            </div>


            <div class="row">
                  <div class="col-md-6">

                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" placeholder="email">
                    </div>

                  </div>
              <!--  col-md-6   -->

                  <div class="col-md-6">

                    <div class="form-group">
                      <label for="phone">Phone Number</label>
                      <input type="tel" class="form-control" id="phone" placeholder="phone">
                    </div>
                  </div>
              <!--  col-md-6   -->
            </div>
            <!--  row   -->


            <div class="row">

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="twitter">Twitter handle</label>
                      <input type="text" class="form-control" placeholder="@handle" id="twitter">
                    </div>
                  </div>
               <!--  col-md-6   -->

                 <div class="col-md-6">
                    <div class="form-group">
                      <label for="url">City/State </label>
                      <input type="url" class="form-control" id="city" placeholder="city">
                    </div>

                 </div>

            </div>
            <div class="row">
               <div class="col-md-6">
                    <div class="form-group">
                      <label for="url">Continent</label>
                      <select class="form-control" id="country">
                        <option selected>Choose...</option>
                        <option>Africa</option>
                        <option>Asia</option>
                        <option>Australia</option>
                        <option>Antarctica</option>
                        <option>North America</option>
                        <option>South America</option>
                        <option>Europe</option>

                        </select>
                    </div>
                </div>


                 <!--  col-md-6   -->
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="url">Medium blog/Your Website <small>Please include http://</small></label>
                      <input type="url" class="form-control" id="url" placeholder="url">
                    </div>
                  </div>
                  <!--  col-md-6   -->
            </div>
              <!--  col-md-6   -->
              <!--  col-md-6   -->
            <!--  row   -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="url">Which programming language are you proficient in?</label>
                      <input type="text" class="form-control" id="language" placeholder="Python? Javascript?">
                    </div>
                  </div>

                <div class="col-md-6">
                     <label>Which area of development would you like to mentor in?</label>
                     <div class="form-check">
                        <br/>
                        <input type="checkbox" class="form-check-input" id="devops">
                        <label class="form-check-label" for="devops">Devops</label>
                        <input type="checkbox" class="form-check-input" id="webdev">
                        <label class="form-check-label" for="webdev">Web development</label>
                        <input type="checkbox" class="form-check-input" id="mobiledev">
                        <label class="form-check-label" for="mobiledev">Mobile development</label>

                     </div>
                </div>

            </div>


             <label for="contact-preference">Would you love to mentor someone in a different continent/location</label>
            <div class="4u$ 12u$(small)">
                <input type="radio" id="yes" name="yes">
                <label for="yes">Yes</label>
            </div>
            <div class="4u$ 12u$(small)">
                <input type="radio" id="no" name="no">
                <label for="no">No</label>
            </div>

            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
 </div>
 </div>
</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/skel.min.js' %}"></script>
            <script src="{% static 'js/util.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>

	</body>
</html>
