
{% load staticfiles%}
<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Mentor bot</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{% url 'index' %}" class="logo">Mentor Bot</a>
					<nav id="nav">
						<a href="{% url 'index' %}">Home</a>
						<a href="{% url 'find_mentor' %}">Find Mentor</a>
						<a href="{% url 'become_mentor' %}">Become Mentor</a>

					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner" style="background-image: url({% static 'images/banner.jpg' %})">
				<h1>Welcome to MentorBot</h1>
				<p>A mentor is someone who sees more talent and ability within you, than you see in yourself, and helps bring it out of you.</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
				    <header>
						<p>Our statistics</p>
					</header>
					<div class="flex flex-4">
					  <div class="row">



                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-md-3">
                            <div class="well">
                              <h4 class="text-danger"><span class="label label-danger pull-right">- 9%</span> Active Mentors available </h4>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="well">
                              <h4 class="text-success"><span class="label label-success pull-right">+ 3%</span> Mentorship sessions </h4>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="well">
                              <h4 class="text-primary"><span class="label label-primary pull-right">201</span> Mentees in program </h4>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="well">
                              <h4 class="text-success"><span class="label label-success pull-right">90</span> Active mentorship sessions </h4>
                            </div>
                          </div>
                        </div><!--/row-->
                    </div><!--/col-12-->
                </div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<p>Meet some of our mentors.</p>
					</header>
					<div class="flex flex-4">
						<div class="box person">
							<div class="image round">
								<img src="{% static 'images/pic03.jpg' %}" alt="Person 1" />
							</div>
							<h3>FirstName</h3>
							 <a class="btn btn-social-icon btn-twitter">
                               <span class="fa fa-twitter"></span>
                              </a>
                            <a class="btn btn-social-icon btn-facebook">
                               <span class="fa fa-facebook"></span>
                            </a>
                            <a class="btn btn-social-icon btn-linkedin">
                               <span class="fa fa-linkedin"></span>
                            </a>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{% static 'images/pic04.jpg' %}" alt="Person 2" />
							</div>
							<h3>FirstName</h3>
							  <a class="btn btn-social-icon btn-twitter">
                               <span class="fa fa-twitter"></span>
                              </a>
                              <a class="btn btn-social-icon btn-facebook">
                               <span class="fa fa-facebook"></span>
                              </a>
                              <a class="btn btn-social-icon btn-linkedin">
                               <span class="fa fa-linkedin"></span>
                            </a>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{% static 'images/pic05.jpg' %}" alt="Person 3" />
							</div>
							<h3>FirstName</h3>
							 <a class="btn btn-social-icon btn-twitter">
                               <span class="fa fa-twitter"></span>
                              </a>
                              <a class="btn btn-social-icon btn-facebook">
                               <span class="fa fa-facebook"></span>
                              </a>
                              <a class="btn btn-social-icon btn-linkedin">
                               <span class="fa fa-linkedin"></span>
                            </a>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="{% static 'images/pic06.jpg' %}" alt="Person 4" />
							</div>
							<h3>FirstName</h3>
							 <a class="btn btn-social-icon btn-twitter">
                               <span class="fa fa-twitter"></span>
                              </a>
                              <a class="btn btn-social-icon btn-facebook">
                               <span class="fa fa-facebook"></span>
                              </a>
                              <a class="btn btn-social-icon btn-linkedin">
                               <span class="fa fa-linkedin"></span>
                            </a>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper special">
				<div class="inner">
					<header class="align-center">
						<h2>Nunc Dignissim</h2>
						<p>Aliquam erat volutpat nam dui </p>
					</header>
					<div class="flex flex-2">
						<article>
							<div class="image fit">
								<img src="{% static 'images/pic01.jpg' %}" alt="Pic 01" />
							</div>
							<header>
								<h3>Praesent placerat magna</h3>
							</header>
							<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
						<article>
							<div class="image fit">
								<img src="{% static 'images/pic02.jpg' %}" alt="Pic 02" />
							</div>
							<header>
								<h3>Fusce pellentesque tempus</h3>
							</header>
							<p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
							<footer>
								<a href="#" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>
