{% load staticfiles%}
<!DOCTYPE HTML>
<html>
  <head>
    <title>become mentor</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  </head>
  <body class="subpage">

    <!-- Header -->
      <header id="header">
        <div class="inner">
          <a href="{% url 'become_mentor' %}" class="logo">Become Mentor</a>
          <nav id="nav">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'find_mentor' %}">Find Mentor</a>
          </nav>
          <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
      </header>

    <!-- Three -->
      <section id="three" class="wrapper">
        <div class="inner">
          <header class="align-center">
            <h2>Mentor - Application</h2>
            <p>Kindly take time to fill in the form.</p>
          </header>
          {% if success_message %}
          <div class="alert alert-primary" role="alert">
            <h4>Thank you for signing up to become a mentor, please check your email to activate your account and get mentor ship requests.</h4>
          </div>
          {% elif error %}
          <div class="alert alert-primary" role="alert">
          <h4 class="alert-heading"> This is Embarassing.</h4>
          <hr>
          <h3>Your Profile was not created succesfully. Please come back and try to create one later</h3>
          </div>
          {% elif user_error %}
          <div class="alert alert-primary" role="alert"></div>
          <h4>user_error</h4>
          </div>
          {% endif %}
      <div class="container">
          <form action="{% url 'become_mentor' %}" method="post" enctype="multipart/form-data">
            <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="first">First Name</label>
                      <input type="text" class="form-control" placeholder="firstname" id="firstname"
                      name="firstname" required>
                    </div>
                  </div>
              <!--  col-md-6   -->

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="last">Last Name</label>
                      <input type="text" class="form-control" placeholder="lastname" id="lastname"  name="lastname" required>
                    </div>
                  </div>
              <!--  col-md-6   -->
            </div>


            <div class="row">
                  <div class="col-md-6">

                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control"  name="email" id="email" placeholder="email" required>
                    </div>

                  </div>
              <!--  col-md-6   -->

                  <div class="col-md-6">

                    <div class="form-group">
                      <label for="phone">Phone Number</label>
                      <input type="tel" class="form-control" name="phone"  id="phone" placeholder="phone" required>
                    </div>
                  </div>
              <!--  col-md-6   -->
            </div>

            <!--  row   -->


            <div class="row">

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="twitter">Twitter handle</label>

                      <input type="text" class="form-control" placeholder="@handle" name="twitter" id="twitter" pattern="^@?(\w){1,15}$" required>

                    </div>
                  </div>
               <!--  col-md-6   -->

                 <div class="col-md-6">
                     <label for="url">github link</label>

                      <input type="url" class="form-control" name="gitlink" id="gitlink" placeholder="link to github" required>

                 </div>
            </div>
            {% if mentor_field %}
            {% for fields in mentor_field %}
            <div class="row">
               <div class="col-md-6">
                    <div class="form-group">
                      <label for="url">Mentor field</label>
                      <select class="form-control" id="sfield" name="sfield">
                        <option selected>Choose ...</option>
                        <option>fields.fieldname</option>
                        </select>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="row">
                  <div class="col-md-6">
                       <div class="form-group">
                         <label for="url">Mentor field</label>
                         <select class="form-control" id="sfield" name="sfield">
                           <option selected>Choose ...</option>
                           <option>Software specialist</option>
                           <option>Data analysis</option>
                           <option>CRM</option>
                           <option>Big data</option>
                           <option>Engineering</option>
                           </select>
                       </div>
                   </div>
                   {% endif %}


                 <!--  col-md-6   -->
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="url">Medium/Website</label>
                      <input type="url" class="form-control" name="burl" id="burl" placeholder="url" required>

                    </div>
                  </div>
                  <!--  col-md-6   -->
            </div>
              <!--  col-md-6   -->
              <!--  col-md-6   -->
            <!--  row   -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="url">Facebook link</label>
                      <input type="url" class="form-control" name="fblink" id="fblink" placeholder="link to facebook" required>

                    </div>
                  </div>
                 <div class="col-md-6">
                     <label for="url">Linkedin url</label>
                      <input type="url" class="form-control rounded-0" name="linkedin" id="linkedin" placeholder="Linkedin url" required>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="url">Short bio</label>
                  <textarea class="form-control rounded-0" name="bio" id="bio" placeholder="short bio" minlength="20"></textarea required>
              </div>

              <div class="col-md-6">
                  <div class="form-group">
                    <label for="first">Password</label>
                    <input type="text" class="form-control" placeholder="Password" id="password"
                    name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    required>
                  </div>
                </div>
            </div>
            <br/>
            <input type="submit" class="btn btn-primary" >
            </div>
          </form>
 </div>
 </div>
</section>

    <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <div class="flex">
            <div class="copyright">
              &copy; mentorbot 2018 when He says yes. Watch out..
            </div>
            <ul class="icons">
                <li><a href="https://www.facebook.com/findamentorke/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
              <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
          </div>
        </div>
      </footer>

    <!-- Scripts -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/skel.min.js' %}"></script>
      <script src="{% static 'js/util.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
