{% load staticfiles%}
<!DOCTYPE HTML>

<html>
  <head>
    <title>Find mentor</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
  </head>
  <body class="subpage">

    <!-- Header -->
      <header id="header">
        <div class="inner">
          <a href="{% url 'find_mentor' %}" class="logo">Find a Mentor</a>
          <nav id="nav">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'become_mentor' %}">Become Mentor</a>
          </nav>
          <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
      </header>

    <!-- Main -->
  <div class='container'>
      <!--Wise Words carousel-->
  <section id="three" class="wrapper special">
      <h2>Who is a Mentor?</h2>
          <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
              <h4>"This company is the best. I am so happy with the result!"<br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
              </div>
              <div class="item">
                <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
              </div>
              <div class="item">
                <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
  </section>
</br>
</br>
</br>
</br>
    <!--Search Bar-->
    <div class='content-wrapper'>
      <div class='row'>
        <div class='col-lg-12 text-center'>

          <form class='navbar-form' action="{% url 'find_mentor' %}" method="post">
          {% csrf_token %}
            <div class='input-group'>
              <input class='form-control' size="80" type='text' name='search' id='search' placeholder='Name, Skill' />
              <span class="input-group-btn">
                <button type='submit' class='btn btn-info'>
                  <span class='glyphicon glyphicon-search'></span>
                </button>
              </span>

            </div>
          </form>

        </div>
      </div>
  </div>
</br>
</br>
</div>
</div>
      <!-- Two -->
      <section id="two" class="wrapper style1 special">
        <div class="inner">
          <!-- <header>
            <p>Meet some of our mentors.</p>
          </header> -->
          <div class="flex flex-4">
          {% if get_all_mentors %}
          {% for mentors in get_all_mentors %}
            <div class="box person">
              <div class="image round">
                <img src="{% static 'images/' %}{{mentors.avatar.url}}" alt="Person 1" width="168" height="168"/>
              </div>
              <h3><a href="{% url 'view_portfolio' mentors.id  %}">{{mentors.first_name}} {{mentors.last_name}} </a></h3>
              <h5>{{ mentors.profile.mentorship_field }}</h5>
               <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/{{ mentors.profile.twitter }}">
                    <span class="fa fa-twitter" style="color: white;"></span>
               </a>
               <a class="btn btn-social-icon btn-facebook" href="{{ mentors.profile.facebook }}">
                    <span class="fa fa-facebook" style="color: white;"></span>
               </a>
              <a class="btn btn-social-icon btn-linkedin" href="{{ mentors.profile.linkdin }}">
                    <span class="fa fa-linkedin" style="color: white;"></span>
              </a>
            </div>
            {% endfor %}
            {% elif error %}
            <div class='container'>
              <form action="{% url 'need_mentor' %}" method="post" enctype="multipart/form-data">
              <h3>Sorry there are not mentors for that particular field.</h3>
              <h4>We will inform you when a mentor becomes available for that field</h4>
              <h4>
              <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control"  name="email" id="email" placeholder="email" required>
                    </div>
                  </div>
            </div>
          </h4>
          <h4>
            <div>
            <input type="submit" class="btn btn-primary" >
          </div>
        </h4>
            </div>
                {% if message %}
                <h2>We shall get back to you soon!</h2>
                {% endif %}
            {% endif %}
          </div>
        </div>
        {% if get_all_mentors.has_other_pages %}
            <ul class="pagination">
              {% if get_all_mentors.has_previous %}
                <li><a href="?page={{ get_all_mentors.previous_page_number }}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in get_all_mentors.paginator.page_range %}
                {% if get_all_mentors.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if get_all_mentors.has_next %}
                <li><a href="?page={{ get_all_mentors.next_page_number }}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
          {% endif %}
      </section>

    <!-- Footer -->
      <footer id="footer">
        <div class="inner">
          <div class="flex">
            <div class="copyright">
              &copy; mentorbot 2018 when He says yes. Watch out.
            </div>
            <ul class="icons">
              <li><a href="https://www.facebook.com/findamentorke/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
              <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
          </div>
        </div>
      </footer>

    <!-- Scripts -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/skel.min.js' %}"></script>
      <script src="{% static 'js/util.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
